##output directory
tsr_output/
geo_output/
geo_output_no_solid/
eval_line/
eval_line_cheating/
eval_video/
eval_video_cheating/
eval_video_line/
results/
results_GTLine/
ablation/
soft_line/
compared_csv/

##list
DL3DV_testlist/
ScannetPP_testlist/
MVImgNet_testlist/
BundleFusion_testlist/
data_list/
filter_results/

##pth
ckpt/
gt_line/
weights/
video_logs/
tb_logs/
experiments_model/
weights/

##log
logs/
video_logs/


## IDE config
.ipynb_checkpoints/
.vscode/
__pycache__/


