##output directory
tsr_output/
eval_line/
eval_video/
results/
gt_line/

##list
DL3DV_testlist/
ScannetPP_testlist/
MVImgNet_testlist/
data_list/
filter_results/

##pth
ckpt/
gt_line/
weights/
video_logs/
tb_logs/
experiments_model/


## IDE config
.ipynb_checkpoints/
.vscode/
__pycache__/


